@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

:root{
    /* primary */
--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);
/* Gradients */
--Light-slate-blue-background: #7857ff;
--Light-royal-blue-background: #2e2be9;
--Violet-blue-circle: #4e21ca;
--Persian-blue-circle: #2421ca00;
/* Neutral */
--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Pale-blue);
    min-height: 100vh;
    width: 100%;
}

.content{
    background-color: var(--White);
    display: flex;
    width: 640px;
    border-radius: 30px;
}

.result{
    display: flex;
    background: linear-gradient(0deg, rgba(46,43,233,1) 35%, rgba(120,87,255,1) 100%);    
    flex-direction: column;
    align-items: center;
    width: 320px;
    border-radius: 30px;
}

.title-result{
    color: #c2c2c2;
    font-size: 20px;
    padding: 25px;
    font-weight: 600;
}
.cicle-result{
    background: linear-gradient(0deg, rgb(47, 27, 205) 5%, rgb(77, 37, 255) 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

.cicle-result > h1{
    color: var(--White);
    font-size: 60px;
}

.cicle-result > p{
    color: #ababab;;
}

.great{
    color: var(--White);
    font-size: 30px;
    padding: 20px;
    text-align: center;
    font-weight: 600;
    
}

.description-result{
   color: var(--White);
   text-align: center;
   margin: 0 50px;
   color: #c2c2c2;
   
}

.content-summary{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 30px;
}

.main-title{
    font-size: 20px;
    font-weight: 700;
}


.Reaction{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 242, 242);
    width: 240px;
    height: 50px;
    border-radius: 10px;
}

.title-summary-reaction{
    color: red;
}

.Memory{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffe9;
    width: 240px;
    height: 50px;
    border-radius: 10px;
}

.title-summary-memory{
    color: rgb(188, 188, 12);
}

.Verbal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eefdf6;
    width: 240px;
    height: 50px;
    border-radius: 10px;
}

.title-summary-verbal{
    color: green;
}

.Visual{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eef4fd;
    width: 240px;
    height: 50px;
    border-radius: 10px;
}

.title-summary-visual{
    color: #2e2be9;
}

.icon-summary{
    width: 18px;
}
.title-summary-content{
    display: flex;
    gap: 10px;
    margin-right: 40px;
}
.percentage-summary{
    display: flex;
    text-align: center;
}

 .porcentage{
    font-weight: 600;
    margin-right: 4px;
}

.maximum-percentage{
    color: #676767;
    font-weight: 500;
} 

.summaryBtn{
    background-color:var(--Dark-gray-blue) ;
    color: var(--White); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    
}

.summaryBtn:hover{
    background: linear-gradient(0deg, rgb(47, 27, 205) 5%, rgb(77, 37, 255) 30%);
    transition: all 0.5s;
}

.attribution { font-size: 11px; text-align: center;
    margin-top: 15px ; 
}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 768px) {
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 320px;
        border-radius: 30px;
    }
}

